*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #FBF9F1;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

.spacer{
    aspect-ratio: 960/145;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url(wave-haikei.svg);
}

.layer2{
    background-image: url(wave-haikei2.svg);    
}
/*navigasi*/
nav {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: #FBF9F1;
}

.logo{
    width: 75px;
    height: 75px;
    margin-right: 900px;
    border-radius: 50%;
}

.contact {
    margin-right: 200px;
}

.navsi {
    display: flex;
    padding: 10px;
    border: 5px transparent;
}

.navsi li {
    margin: 0 20px;
    list-style: none;
}

.navsi li a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    font-size: 20px;
    padding: 6px 0;
}

.navsi li a::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background: #AAD7D9;
    left: 0;
    bottom: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

.navsi li a:hover:before{
    width: 100%;
}

.navsi li a:before{
    left: 50%;
    transform: translatex(-50%);
}

.navsi li a.active{
    color: #92C7CF;
}

.navsi li a.active::before{
    width: 100%;
}

/*Main Biodata*/
.biodata {
    flex-direction: row;
    display: flex;
}

.biodata > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nama{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.name1{
    color: #92C7CF;
}

.foto{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.editfoto{
    width: 450px;
    height: 600px;
    border-radius: 20px;
    transform: rotate(5deg);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    object-fit: cover;
}

.editfoto:hover{
    transform: scale(1.1);
}

.bio1{
    font-size: 140px;
    bottom: 0;
    padding: 0;
    text-align: left;
    margin: 0;
}

.bio2{
    font-size: 25px;
    margin-left: 80px;
    top: 10;
    text-align: left;
}

/*Albums*/
.judalbum {
    display: flex;
    justify-content: center;
    font-size: 90px;
    background-color: #92C7CF;
    height: 150px;
    color: #FBF9F1;
    margin-top: 0;
}

#album{
    background-color: #92C7CF;
}

.album{
    flex-direction: row;
    display: flex;
    margin-top: 0;
    background-color: #92C7CF;
    height: 80vh;
}

.albumcon{
    display: flex;
    height: 70vh;
    background-color: #92C7CF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.img1{
    height: 700px;
    width: 550px;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.5s;
}

.nambah{
    position: relative;
    right: 400px;
    bottom: 350px;
    width: 80px;
    padding: 30px;
    border-radius: 100%;
    font-size: 20px;
    border: transparent;
    transition: all 0.5s;
    font-weight: bolder;
}

.nambah:hover{
    background-color: #E5E1DA;
    color: #92C7CF;
    transform: scale(1.1);
}

.kurang{
    position: relative;
    left: 400px;
    bottom: 423px;
    width: 80px;
    padding: 30px;
    border-radius: 100%;
    font-size: 20px;
    border: transparent;
    transition: all 0.5s;
    font-weight: bolder;
}

.kurang:hover{
    background-color: #E5E1DA;
    color: #92C7CF;
    transform: scale(1.1);
}

.img1:hover{
    transform: scale(1.1);
}

/* Sosial Media */

